body {
    margin: 0;
    background-image: url(https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ABD878;
    padding-top: 6px;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: HelveticaNeue-CondensedBold, sans-serif;
  }

  .logo {
      float:left;
  }

  li a:hover {
    color: #337D68;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    grid-column-gap: 50px;
    padding-top: 50px;
    justify-items: center;
    justify-content: center;
    margin: 120px;

  }

  h2 {
      font-family: HelveticaNeue-CondensedBlack, sans-serif;
      font-size: 50px;
      color: #337D68;
  }

  h3 {
    font-family: HelveticaNeue, sans-serif;
    font-weight: bold;
    color: #337D68;
  }

  p {
      font-family: HelveticaNeue, sans-serif;
      color: #337D68;
  }

  .grid-container img{
    width: 35vw;
    height: auto;
}

button {
    background-color: #FFD200;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: HelveticaNeue-CondensedBold, sans-serif;
}
